<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Financeiro Igreja</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<br></br>

<div class="topo">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Igreja" class="logo">
</div>


    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
<div class="topo">
    <div>
{% if session.get("logado") %}
<div>
    {{ session["usuario"] }} ({{ session["perfil"] }})
</div>

<a href="/logout" class="btn-logout">Sair</a>
{% endif %}
</div>

<div class="bottom-nav">

    <a href="{{ url_for('home') }}" class="nav-item">
        <i data-lucide="home"></i>
        <span>Início</span>
    </a>

    <a href="{{ url_for('dashboard') }}" class="nav-item">
        <i data-lucide="bar-chart-3"></i>
        <span>Dashboard</span>
    </a>

    <a href="{{ url_for('movimentacoes') }}" class="nav-item">
        <i data-lucide="wallet"></i>
        <span>Mov.</span>
    </a>

    <a href="/membros" class="nav-item">
        <i data-lucide="users"></i>
        <span>Membros</span>
    </a>

</div>
<script src="https://unpkg.com/lucide@latest"></script>
<script>
  lucide.createIcons();
</script>

</body>
</html>