{% extends "base.html" %}

{% block content %}

<div class="login-container">

    <div class="login-box">
       
        <p class="subtitulo">Acesse sua conta</p>

{% if erro %}
    <div class="alerta-erro">
        {{ erro }}
    </div>
{% endif %}

        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>

            <div class="input-group">
                <input type="password" name="senha" placeholder="Senha" id="senha" required>
                <span class="toggle-senha" onclick="toggleSenha()">👁</span>
            </div>

            <button class="btn-login">Entrar</button>
        </form>

        <a href="/cadastro" class="btn-cadastro">Cadastrar usuário</a>
    </div>

</div>

<script>
function toggleSenha() {
    const input = document.getElementById("senha");
    input.type = input.type === "password" ? "text" : "password";
}
</script>

{% endblock %}